.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2ecc71;
  text-align: center;
  font: 46px;
}
a:link {text-decoration: none;color: black;}
a:visited {text-decoration: none;color: black;}
a:active {text-decoration: none;color: black;}
a:hover {text-decoration: none;color: black;}

.recipe {
  background: yellow;
  text-align: center;
  border-radius: 30px;
  box-shadow: gray;
}

.input {
  background: white;
  width: calc(100vw - 90px);
}


.search {
  margin: 10px;
  background: yellow;
  border: solid;
  border-radius: 10%;
}

.recipe_wrapper {
  width: 100%;
}

.favorite {
  color: red;
}

.Log{
  margin-left: auto; 
  margin-right: auto;
  font-size: 100%;
  width: 200px;
  height: 50px;
  padding: 13px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.Log_B{
  margin-left: auto; 
  margin-right: auto;
  width: 100px;
  height: 50px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


.Sign_up{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto; 
  margin-right: auto;
}

.Box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto; 
  margin-right: auto;
}
